---
import Layout from '../../components/Layout.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';

let allPosts = await Astro.glob('../../components/blogPosts/*.md');

allPosts.sort((a, b) => {
    const dateA = new Date(a.frontmatter.year, a.frontmatter.month, a.frontmatter.day);
    const dateB = new Date(b.frontmatter.year, b.frontmatter.month, b.frontmatter.day);
    return dateB.valueOf() - dateA.valueOf();
});
---

<Layout title="jimhoekstra.github.io" activePage="blog">
    <h1 class="mb-5">Latest Blog Posts</h1>
    <div>
        {allPosts.map((p) => <BlogPostPreview post={p} />)}
    </div>
</Layout>

<style>

</style>
