body {
    font-family: 'Radio Canada', sans-serif;
    font-size: 20px;
}

pre {
    padding: 1em;
    border-radius: 0.25em;
}

h1 {
    margin: 0.75em 0;
}

a {
    color: rgb(23, 155, 255);
}

a:hover {
    color: rgb(23, 155, 255);
}