body {
    font-family: 'Radio Canada', sans-serif;
}

pre {
    padding: 1em;
    border-radius: 0.25em;
}

a {
    color: rgb(23, 155, 255);
}

a:hover {
    color: rgb(23, 155, 255);
}

img {
    width: 90%;
    max-width: 500px;
}