---
import Layout from '../components/Layout.astro';
---

<Layout title="Home - jimhoekstra.net" activePage="home">
	<h1 class="mb-4">Hi!</h1>
	
	<div class="row">
		<div class="col-lg-8">
			<h2>About me</h2>
			<p class="pe-5">
				My name is Jim Hoekstra. I like exploring the possibilities of using machine learning
				and (software) engineering to solve real-world problems. In my current position at Wageningen
				University & Research I am applying these technologies to the food domain, focusing among
				other things on research towards improving personalized nutritional advice.
			</p>

			<h2>Background</h2>
			<p class="pe-5">
				I graduated from the MSc program Artificial Intelligence at the University of Amsterdam.
				My thesis was on the topic of reinforcement learning applied to multi-agent cooperative 
				environments. The goal was to increase the capability of agents to learn to model and 
				cooperate with other (adapting) agents in the environment.
			</p>
		</div>
		<div id="profile-picture" class="col-lg-4 border rounded bg-light d-none d-lg-block"></div>
	</div>
	
</Layout>

<style>
	img {
		width: 60%;
		max-width: 400px;
	}

	#profile-picture {
		min-height: 100px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
</style>
