---
import Layout from '../components/Layout.astro';
---

<Layout title="jimhoekstra.github.io" activePage="projects">
    <h1 class="mb-4">Projects</h1>
    <p class="fs-5">Coming soon...</p>
</Layout>

<style>

</style>
