---
import Layout from '../components/Layout.astro';
---

<Layout title="Projects - jimhoekstra.net" activePage="projects">
    <h1 class="mb-4">Projects</h1>
    <p>Coming soon...</p>
</Layout>

<style>

</style>
