<div id="footer" class="bg-light">
    <div class="orange-line mb-3"></div>
        
    <div class="container-md">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p>
                    Copyright &copy; 2022 Jim Hoekstra
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<style>
    #footer {
        min-height: 10vh;
    }

    .orange-line {
		height: 5px;
		background-color: rgba(191, 51, 0, 0.3);
	}
</style>